/* Main Styling */
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* img {
  display: block;
}

* svg {
  width: 100%;
}

.spacing {
  margin: 0px 5% 0 5%;
  max-width: 90%;
}

.container {
  padding-top: 2vh;
}

label {
  /* display: block; */
  display: flex;
  align-items: baseline;
}

/* Register Styling */

.registerBack {
  background-image: url(../Images/backgrounds/loginBGG.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.regHeader {
  margin-left: 18vh;
}

.regHeader h1 {
  font-size: 62px;
  font-family: Nirmala UI;
  font-weight: 300;
  color: #5d5d5d;
}
.regHeader h2 {
  font-size: 36pxpx;
  font-family: Nirmala UI;
  font-weight: 300;
  color: #131313;
  font-weight: 700;
}
.loginFields input {
  font-size: 18px;
  padding: 6px 5px;
  border: #6b6b6b;
  border-style: solid;
  border-width: 2px;
  width: 38vh;
}

.loginFields2 input {
  font-size: 18px;
  padding: 6px 5px;
  border: #6b6b6b;
  border-style: solid;
  border-width: 2px;
  margin-top: 2vh;
  width: 38vh;
}

.registerGrid-1 {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  margin: 1% 0% 0 10%;
  position: relative;
  z-index: 1;
}

.registerGrid-2 {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  margin: 1% 0% 0 10%;
  position: relative;
  z-index: 1;
}

.registerGrid-3 {
  display: grid;
  grid-template-columns: 0.39fr;
  margin: 2% 0% 0 10%;
  position: relative;
  z-index: 1;
}

.loginBG {
  position: absolute;
  bottom: 0;
}
.courses {
  padding: 8px 80px;
  font-size: 16px;
  font-family: Tahoma;
}

.courseTitle {
  margin-top: 1.4vh;
  padding-bottom: 0.2vh;
  font-size: 16px;
  font-family: Tahoma;
}
.loginFields p {
  max-width: fit-content;
  margin-top: 1.4vh;
  padding-bottom: 0.2vh;
  font-size: 16px;
  font-family: Tahoma;
}

.loginFields2 p {
  max-width: 85px;
}

.rowLabel {
  display: grid;
  /* grid-template-columns: repeat(2, 0.5fr); */
  width: fit-content;
}

.rowLabel2 {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  width: fit-content;
}

.rightInnerContainer .loginFields {
  /* padding-top: 9vh; */
}

.acceptReview {
  margin: 0 auto;
  color: #ffffff;
  font-family: Tahoma;
  padding: 9px 75px;
  font-size: 19px;
  background: #36c460;
  margin-left: 36px;
  margin-top: 2vh;
}

.declineReview {
  margin: 0 auto;
  color: #ffffff;
  font-family: Tahoma;
  padding: 9px 75px;
  font-size: 19px;
  background: #c43642;
  margin-left: 36px;
  margin-top: 2vh;
}

/* Confirmation Page */

.confHeader h1 {
  font-size: 46px;
  font-family: Nirmala UI;
  font-weight: 300;
  color: #272727;
  text-decoration: underline;
}
.conf1 p {
  font-family: Tahoma;
  font-size: 20px;
  margin-top: 3vh;
}

.conf2 p {
  font-family: tahoma;
  font-size: 19px;
  color: #a7a7a7;
  margin-top: 4vh;
}

.tAndC p {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 18px;
  margin-top: 1vh;
}
.tAndC {
  display: block;
}

.tAndC-Container {
  text-align: center;
  margin-top: 5vh;
}

.tAndC-Container a {
  font-size: 22px;
  font-family: monospace;
  font-weight: bold;
}

.agreeBtn {
  margin-top: 10vh;
}

#classRef select {
  font-size: 16px;
  padding: 6px 5px;
  border: #6b6b6b;
  border-style: solid;
  border-width: 2px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 25vh;
}
