/* Main Styling */
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* img {
  display: block;
}

* svg {
  width: 100%;
}

.spacing {
  margin: 0px 5% 0 5%;
  max-width: 90%;
}

.login-container {
  padding-top: 6vh;
}

label {
  display: block;
}

/* Homepage Styling */
.homepageBack {
  background-image: url(../images/backgrounds/studentLecturerDetails.png);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

#moduleContainer {
  position: relative;
}

.moduleHeader {
  position: absolute;
  left: 39%;
  top: 37%;
}

.moduleHeader h2 {
  font-size: 55px;
  font-family: Nirmala UI;
  color: white;
  font-weight: lighter;
  margin-left: 10vh;
}
.lectDetailsContainer {
  max-width: 22em;
  margin-top: 14vh;
  position: absolute;
  margin-left: 48vh;
  z-index: 1;
}

.lectDetailsHeader h2 {
  font-size: 55px;
  font-family: Nirmala UI;
  color: white;
  font-weight: lighter;
  margin-left: -2vh;
}

.detailFields p {
  font-size: 17px;
  font-family: Tahoma;
  margin-right: 2vh;
  margin-bottom: 0.5em;
  margin-top: 2vh;
  color: #e4e4e4;
}
#moduleForeground {
  max-width: 39em;
  margin-top: 10vh;
  margin-left: 30vh;
}

.notice {
  font-size: 17px;
  font-family: "Segoe UI";
  margin-left: -9vh;
  width: 44vh;
  margin-top: 5vh;
}

input[type="text"] {
  width: 28vh;
  padding: 8px 4px;
  box-sizing: border-box;
}

#moduleInfo table {
  margin: auto;
  margin-top: 19vh;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: Tahoma;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  border-width: thin;
  border-color: white;
  color: white;
}

#moduleInfo table thead tr {
  background-color: #ff8800;
  color: #ffffff;
  text-align: left;
}

#moduleInfo table th,
#moduleInfo table td {
  padding: 12px 15px;
}

@media screen and (max-width: 1650px) {
  #moduleForeground {
    max-width: 35em;
    margin-top: 10vh;
  }
}
