/* Main Styling */
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* img {
  display: block;
}

* svg {
  width: 100%;
}

.spacing {
  margin: 0px 5% 0 5%;
  max-width: 90%;
}

.login-container {
  padding-top: 6vh;
}

label {
  display: block;
}

/* Homepage Styling */
.homepageBack {
  background-image: url(../images/backgrounds/postsBG.png);
  background-size: contain;
  background-position: bottom;
  height: 100vh;
}

.panel-group {
  margin: 12% 7% 0% 6.6%;
  width: 112vh;
  height: 49.5vh;
  /* border: black; */
  /* border-style: solid; */
  /* border-width: thin; */
}

.panel-title {
  font-family: Tahoma !important;
  font-size: 20px !important;
}

.panel-heading {
  background: #ffe0c0 !important;
}

.panel-body {
  background: #fdfdfd !important;
}

#moduleContainer {
  display: grid;
  grid-template-columns: 0.4fr;
  margin: 3.8% 0 0 6.6%;
  /* column-gap: 9vh; */
  grid-row-gap: 2vh;
}

.createContainer input,
textarea,
select {
  font-size: 18px;
  padding: 6px 5px;
  border: #6b6b6b;
  border-style: solid;
  border-width: 2px;
  margin-top: 2vh;
  width: 38vh;
}

.createContainer {
  height: fit-content;
}

#createPostBtn {
  background: #3561dc;
  margin: 0 auto;
  color: #ffffff;
  font-family: Tahoma;
  padding: 9px 75px;
  font-size: 17px;
  margin-left: 12vh;
}

#createPostBtn:hover {
  cursor: pointer !important;
  background: #5179e9 !important;
}

.postHeader h2 {
  font-size: 62px;
  font-family: Nirmala UI;
  font-weight: 300;
  color: #5d5d5d;
}
