/* Main Styling */
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* img {
  display: block;
}

* svg {
  width: 100%;
}

.spacing {
  margin: 0px 5% 0 5%;
  max-width: 90%;
}

.login-container {
  padding-top: 6vh;
}

label {
  display: block;
}

/* Homepage Styling */
.profileBack {
  background-image: url(../images/svgs/profileBG.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.profileGrid {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 1;
  margin-top: 5vh;
}

/* #loadStatus {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 90vh;
  top: 33vh;
  z-index: 3;
} */

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}

.farRightContainer {
  margin-top: 8vh;
  position: relative;
  color: white;
  font-family: Tahoma;
}

/* .headerGrid {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;

  position: relative;
  z-index: 1;
} */

.loginFields input {
  font-size: 18px;
  padding: 6px 5px;
  border: #6b6b6b;
  border-style: solid;
  border-width: 2px;
  margin-top: 2vh;
  width: 38vh;
}

.currentEmail {
  font-size: 18px;
  padding: 6px 5px;
  border: #6b6b6b;
  border-style: solid;
  border-width: 2px;
  margin-top: 2vh;
  width: 38vh;
}

.rowLabel {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  width: fit-content;
}

.rightLinks {
  display: grid;
  grid-row-gap: 2vh;
  /* margin-top: 3ch; */
  /* position: absolute; */
  width: fit-content;
  margin: auto;
}

.leftInnerContainer {
  margin: auto;
}

.loginFields p {
  margin: auto 0;
  font-family: Tahoma;
  width: 12vh;
}

.btnUpdateDetails:hover {
  cursor: pointer !important;
  background: #5179e9 !important;
}
.profHeader {
  margin-left: -16vh;
  /* margin-bottom: 5vh; */
  text-align: center;
}

.profHeader h1 {
  font-size: 62px;
  font-family: Nirmala UI;
  font-weight: 300;
  color: #5d5d5d;
}

.btnUpdateDetails {
  margin: 0 auto;
  color: #ffffff;
  font-family: Tahoma;
  padding: 9px 75px;
  font-size: 19px;
  background: #3561dc;
  margin-right: 3vh;
}

.updateLink {
  text-align: center;
  margin-top: 5vh;
  width: 90%;
}

.rightProfGrid {
  display: grid;
  grid-template-columns: repeat(1, 0.5fr);
  grid-row-gap: 3vh;
}

.btnChangeEmail,
.btnChangePassword {
  color: #ffffff;
  font-family: Tahoma;
  padding: 9px 45px;
  font-size: 16px;
  background: #3561dc;
  text-align: center;
}

.rowlabel2 p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
