/* Main Styling */
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* img {
  display: block;
}

* svg {
  width: 100%;
}

.spacing {
  margin: 0px 5% 0 5%;
  max-width: 90%;
}

.login-container {
  padding-top: 6vh;
}

label {
  display: block;
}

/* Timetable CSS Starts Here */

.homepageBack {
  background-image: url(../images/backgrounds/timetableBG.png);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.classRegHeader h2 {
  font-size: 55px;
  font-family: Nirmala UI;
  color: black;
  font-weight: lighter;
}

#iframepdf {
  width: 80%;
  height: 80%;
}

#classReg {
  text-align: center;
}
