@{
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainScreen.css" />
    <link rel="stylesheet" href="../css/login.css" />

    <title>Academia Login</title>
</head>
<body class="loginBack">
    <!-- Login -->
    <section class="loginSection">
        <div class="spacing">
            <div class="login-container">
                <div class="loginGrid">
                    <div class="leftInnerContainer">
                        <div class="loginHeader">
                            <h1>User/lecturer Login</h1>
                        </div>
                        <form>
                            <p id="message"></p>

                            <div class="loginFields">
                                <label>
                                    <input type="email" class="email" placeholder="Email" id="email" />
                                </label>
                                
                                <label>
                                    <input type="password" id="password" placeholder="Password" class="contactNo" />
                                </label>
                            </div>
                        </form>
                        
                        <div class="loginLinks">
                            <a href="" class="btnLogin" id="btnLogin">Login</a>
                            <a href="" class="btnForgot">Forgot Password?</a>
                        </div>
                    </div>

                    <div class="rightInnerContainer">
                        <div class="loginSVG">
                            <img src="../Svgs/loginSVG.svg"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    @section scripts {
    <script src="~/js/api/http-client.js"></script>
    <script src="~/js/api/auth-service.js"></script>
    <script src="~/js/auth/login.js"></script>
    }
</body>
