<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css" />
    <title>Academia Login</title>
</head>
<body>

        <!-- Login -->
<section class="loginSection">

    <div class="spacing">
        <div class="container">
            <div class="loginGrid">
                <div class="leftInnerContainer">
                    <div class="loginHeader">
                        <h1>User/lecturer Login</h1>
                    </div>
                    <div class="loginFields">
                        
                        <label>
                            
                            <input type="email" name="email" class="email" placeholder="Email"/>
                        </label>
    
                        
                        <label>
                            
                            <input type="text" name="contactNo" placeholder="Password" class="contactNo"/>
                        </label>
                    </div>
                    <div class="loginLinks">
                        <a href="" class="btnLogin">Login</a>
                        <a href="" class="btnForgot">Forgot Password?</a>
                    </div>
                </div>

                <div class="rightInnerContainer">
                    <div class="loginSVG">
                        <img src="../Svgs/loginSVG.svg"> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loginBG">
        <img src="../Svgs/loginBg.svg"> 
    </div>
  
</section>
    
</body>
</html>