<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quantum Academia</title>
    <link rel="stylesheet" href="../css/mainScreen.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
</head>
<body>
    <div class="navbarSpacing">
        <div class="navContainer">

            
            <div class="navBar">
                
                <div class="leftnavSect">
                    <a href="" class="logo"><img src="../Svgs/logo.svg" alt="Logo.svg"></a>
                    <a href="../HTML/">Quantum Academia</a>
                </div>
                
                
                <div class="rightNavBar">
                    <div class="navLeftBtns">
                        <a href="../HTML/">About Us</a>
                        <a href="../HTML/">Why Quantum?</a>
                        <a href="../HTML/">Courses</a>
                        <a href="../HTML/">Query Us</a>
                        

                        
                    </div>
                    <div class="navRightBtns">
                      <a asp-action="Login" asp-controller="Auth" class="mainBtns">Login</a>
                      <a asp-action="Register" asp-controller="Auth" class="mainBtns" style="margin-left: 2vh !important;">Register</a>
                        
                        @* <a href="../index.html#contactSection"  class="mainBtns" style="margin-left: 2vh !important;">Register</a> *@
                    </div>
                   
                </div>
                
    
            </div>
            <div class="botNavSvg">
                <img  src="../Svgs/navBar.svg"> 
            </div>
        
    </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
