

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainScreen.css" />
    <title>Quantum Academia</title>
</head>
<body class="homeSec">

    <!-- Home -->
<section class="homeSection">
    

    <div class="spacing">
        <div class="container">
            <div class="homeGrid">
                <div class="homeCard1">
                    <h2>Streamline your</h2>
                    <h2>education with</h2>
                    <h1>Quantum Academia</h1>
                </div>
                <div class="homeCard2">
                    <a href="" class="getEnrolled">Get Enrolled</a>
                </div>
            </div>
        </div>
    </div>

</section>
    
</body>
