<!DOCTYPE html>
<html lang="en" class="homeSec">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainScreen.css" />
    <title>Quantum Academia</title>
</head>
<body>

    <!-- Home -->
<section class="homeSection">
    
    @* <div class="botNavSvg">
        <img src="../Svgs/navBar.svg"> 
    </div> *@


    @* <div class="navbarSpacing">
        <div class="navContainer">

            
            <div class="navBar">
                
                <div class="leftnavSect">
                    <a href="" class="logo"><img src="../Svgs/logo.svg" alt="Logo.svg"></a>
                    <a href="../HTML/">Quantum Academia</a>
                </div>
                
                
                <div class="rightNavBar">
                    <div class="navLeftBtns">
                        <a href="../HTML/">About Us</a>
                        <a href="../HTML/">Why Quantum?</a>
                        <a href="../HTML/">Courses</a>
                        <a href="../HTML/">Query Us</a>
                        

                        
                    </div>
                    <div class="navRightBtns">
                        <a href="../index.html#prodSection" class="mainBtns">Login</a>
                        
                        <a href="../index.html#contactSection"  class="mainBtns" style="margin-left: 2vh !important;">Register</a>
                    </div>
                   
                </div>
                
    
            </div>
        
    </div>
    </div> *@

    <div class="spacing">
        <div class="container">
            <div class="homeGrid">
                <div class="homeCard1">
                    <h2>Streamline your</h2>
                    <h2>education with</h2>
                    <h1>Quantum Academia</h1>
                </div>
                <div class="homeCard2">
                    <a href="" class="getEnrolled">Get Enrolled</a>
                </div>
            </div>
        </div>
    </div>

</section>
    
</body>
</html>